
ul.llista{
    list-style-type: none;
    margin-left: -35px;
    margin-top: 20px;
}

/*  CAJAS DEL MAIN  */

#caja1 {
    width: 75%;
    height: auto;
    background-color: rgba(255, 200, 158, 0.7);
    border: solid 3.5px #382516;
    text-align: justify;
    padding: 10px;
    margin-top: 150px;
    margin-left: 15%;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.imgcaja1 {
    display: flex;
}

#caja2 {
    width: 75%;
    height: auto;
    background-color: rgba(255, 200, 158, 0.7);
    border: solid 3.5px #382516;
    text-align: justify;
    padding: 10px;
    margin-top: 10px;
    margin-left: 15%;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

#caja3 {
    width: 57.1%;
    height: auto;
    background-color: rgba(255, 200, 158, 0.7);
    border: solid 3.5px #382516;
    border-right: none;
    text-align: justify;
    padding: 10px;
    margin-top: 10px;
    margin-left: 15%;
    margin-bottom: 10px;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.imagen1 {
    width: 18%;
    height: 200px;
    background-color: rgba(255, 200, 158, 0.7);
    border: solid 3.5px #382516;
    border-left: none;
    margin-top: 10px;
    margin-left: 0%;
    margin-bottom: 10px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    background-image: url(../img/Terraria_imagen1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

#caja4 {
    width: 75%;
    height: auto;
    background-color: rgba(255, 200, 158, 0.7);
    border: solid 3.5px #382516;
    text-align: justify;
    padding: 10px;
    margin-top: 10px;
    margin-left: 15%;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

#caja5 {
    width: 53.5%;
    height: auto;
    background-color: rgba(255, 200, 158, 0.7);
    border: solid 3.5px #382516;
    border-left: none;
    text-align: justify;
    padding: 10px;
    margin-top: 10px;
    margin-left: 0%;
    margin-bottom: 22px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.imgcaja2 {
    display: flex;
}

.imagen2 {
    width: 22%;
    height: 220px;
    background-color: rgba(255, 200, 158, 0.7);
    border: solid 3.5px #382516;
    border-right: none;
    margin-top: 10px;
    margin-left: 15%;
    margin-bottom: 22px;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen2 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

